.combat-stat-table{
    border: 2px solid black;
    border-radius: 10px;
    border-spacing: 10px;
    table-layout: fixed;
    // width: max-content;
    font-family: "Breathe Fire";

    input{
        font-family: "Breathe Fire";
    }
    td{
        background-color: white;
        border-radius: 10px;
        input{
            background-color: white;
            width: 100%;
            text-align: center;
            font-size: xx-large;
            border: 0;
            outline: none;
        }
    }
    
}