.creature-minified{
    padding: 10px;
    height: max-content;
    min-width: max-content;
    border: 2px solid black;
    border-radius: var(--round-corners);
    display: grid;
    gap: var(--gap-small);
    grid-template-columns: auto auto;
    text-align: center;
    font-family: "Breathe Fire";
    cursor: pointer;

    &-name{
        width: 100%;
        font-size: 1.5rem;
        font-family: "Enchanted land";
    }
    button{
        font-family: "Breathe Fire";
        border-radius: 5px;
        border: 1px solid black;
    }
    ul{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-medium);
        li{
            display: grid;
            grid-template-rows: auto 1fr;
            gap: var(--gap-small);
        }
    }
}