.creature-minified{
    padding: 10px;
    height: max-content;
    min-width: 175px;
    border: 2px solid black;
    border-radius: var(--round-corners);
    text-align: center;
    font-family: "Breathe Fire";
    cursor: pointer;

    .creature-nameline{
        display: flex;
        justify-content: space-between;
        gap: var(--gap-small);
        .creature-minified-name{
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 1.25rem;
        }
        button{
            font-family: "Breathe Fire";
            border-radius: 5px;
            border: 1px solid black;
        }
    }
    ul{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap-medium);
        li{
            display: grid;
            grid-template-rows: auto 1fr;
            gap: var(--gap-small);
        }
    }
}
.creature-minified.placeholder{
    visibility: hidden;
}