.creature{
    width: 350px;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 15px;
    border: 3px solid blue;
    background-color: rgb(235, 235, 235);
    justify-content: center;
    align-items: center;
}