.stat-table{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    border-spacing: 5px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;

    div{
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        gap: 5px;
        label{
            font-size: 1.25rem;
        }
        input{
            width: 100%;
            background-color: white;
            text-align: center;
            font-size: 1.25rem;
            border: 0;
            outline: none;
            border-radius: 10px;
        }
        input:disabled{
            background-color: rgb(230, 230, 230);
        }
    }
    
}