.stat-table{
    border: 2px solid black;
    border-radius: 10px;
    border-spacing: 5px;
    table-layout: fixed;
    width: 100%;
    tbody{
        align-items: center;
        input{
            background-color: white;
            width: 100%;
            text-align: center;
            font-size: large;
            border: 0;
            outline: none;
        }
    }
    td{
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        font-size: large;
        background-color: white;
    }
    .modifiers > td, input {
        background-color: rgb(230, 230, 230);
        input{
            background-color: rgb(230, 230, 230)
        }
    }
}